/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	padding:12px;
	gap:5;
}
.box{
	height:50px;
	display:flax;
	margin:5px;
	justify-content:center;
	align-items:center;
}
.poim{
	padding:5px;
}
.author{
	display:flex;
	justify-content:end
}