/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	padding:12px;
	gap:5;
}
.box{
	
	background-color:#ffffff;
	display:flax;
	margin-top:8px;
	justify-content:center;
	align-items:center;
	padding:2px 7px;
	border:1px graytext;
}
.poim{
	padding:5px;
}
.author{
	
	text-align:right;
	font-style:italic;
	margin-left:4px;
}